 
.bash_history
.bash_logout
.bashrc
.cache/
.cargo/
.config/gh/
.gitconfig
.local/
.oh-my-zsh/
.profile
.rustup/
.shell.pre-oh-my-zsh
.ssh/
.sudo_as_admin_successful
.tmux.conf.bak
.viminfo
.zcompdump
.zcompdump-ubuntu-5.9
.zcompdump-ubuntu-5.9.zwc
.zsh_history
.zshenv
frequencificatinator/
